extends template.pug

block title
	title main
	- var page_class = 'p-main';

block content
	.l-container
		.row.flex-center
			.col-6
				+b('').im-complete.nope-js-autocomplete
					+e('').input-wrap
						+e('input')(type="text" data-input="true").input
					+e('')(data-list-container="true").result-list
						+e('a')(href='#' data-list-item="true").result-item
							span(data-item-value="true") Minsk
						+e('a')(href='#' data-list-item="true").result-item 
							span(data-item-value="true") Mayami
						+e('a')(href='#' data-list-item="true").result-item 
							span(data-item-value="true") Moscow
						+e('a')(href='#' data-list-item="true").result-item 
							span(data-item-value="true") Riga
						+e('a')(href='#' data-list-item="true").result-item 
							span(data-item-value="true") Vilnus
						+e('a')(href='#' data-list-item="true").result-item 
							span(data-item-value="true") Kiev
						+e('a')(href='#' data-list-item="true").result-item 
							span(data-item-value="true") Chikago


