include ../../node_modules/bemto.pug/bemto
include helpers/variables
include helpers/mixins

doctype html
html
	head
		block title
		include inc/head
	body(class="" +page_class)
		include partials/header
		
		.l-common-wrap
			block content

		include partials/popups
		include partials/footer
		script(src="js/vendor.min.js")
		script(src="js/index.min.js")
		script(src="js/client.min.js")

