// When dev mode is plugin
.b-im-complete
	position relative
	&__input
		display block
		width 100%
	&__result-list
		position absolute
		top 100%
		left 0
		width 100%
	&__result-item
		display block
		width 100%
		