media_prop(text, right, text-align, right)
// text-align: right;

media_prop(text, left, text-align, left)
// text-align: left;

media_prop(text, center, text-align, center)
// text-align: center;

media_prop(d, none, display, none)
// display: none;

media_prop_max(d, none, display, none)
// display: none;

media_prop(d, flex, display, flex)
// display: flex;

media_prop(d, inline-flex, display, inline-flex)
// display: inline-flex;