
.b-im-complete
	&__input
		border-radius 4px
		border 2px solid rgba(0, 0, 0, .5)
		padding 0 24px
		font-size 24px
	&__result-list
		border 2px solid rgba(0, 0, 0, .5)
		border-top 0
		border-radius 0 0 4px 4px
		opacity 0
		visibility visible
		transition .25s opacity, .25s visibility
	&__result-item
		padding 12px 24px
		text-decoration none
		color black
		transition .25s background-color
		@media $working_hover
			&:hover
				background-color #fffdd1
		&.focus
			background-color #fffdd1
	&__input-wrap
		position relative
	&__btn-open
		position absolute
		top 0
		right 0
		width 50px
		height 100%
		display flex
		align-items center
		justify-content center
		background-color rgba(0, 0, 0, .1)
		&:after
			transition .25s transform
			content ''
			width 0
			height 0
			border-style solid
			border-width 12px 7.5px 0 7.5px
			border-color rgba(0, 0, 0, .5) transparent transparent transparent
	&.opened
		.b-im-complete
			&__result-list
				opacity 1
				visibility visible
			&__btn-open
				&:after
					transform rotate(180deg)

.l-footer
	width 100%
	margin-top auto
	margin-bottom 0