.b-input,
.b-select,
.b-textarea
	display block
	width 100%
	border 1px solid #ced4da
	border-radius 4px
	background-color transparent
	
.b-label
	display block
	
.b-input,
.b-select
	padding 0 12px
	height 38px
	
.b-textarea
	padding 8px 12px
	
.b-form
	&__input
		margin-bottom 16px
		&:last-child
			margin-bottom 0
	&__label
		margin-bottom 4px
	&__btn-wrap
		text-align right
	&__links-wrap
		display flex
		justify-content center
		margin-top 16px
		a
			text-decoration none
			margin 0 4px
			color #006ee0